@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: rgb(240, 239, 239);
}

.image-container {
    flex: 1;
    background: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.image-text {
    font-family: Norse-Bold, arial;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: absolute;
    top: 4rem;
    font-size: 3rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 2rem;
}


.content-container {
    flex: 3;
    align-content: center;
}

.welcome, button {
    margin: 2rem;
    font-size: 2rem;
}
button {
    margin: 2   rem;
    font-size: 1rem;
    padding: .25rem;
}
label{
    margin-bottom: .5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 8px 8px lightgray;

    
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.form-group {
    display: flex;
    flex-direction: column;
}

